# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
/env/
/build/
/develop-eggs/
/dist/
/downloads/
/eggs/
/.eggs/
/lib/
/lib64/
/parts/
/sdist/
/var/
*.egg-info/
.installed.cfg
*.egg

# Universal Ignores
.DS_Store
*.swp
*~

# Django stuff:
*.log

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Development Environment
*.sqlite3

# Java
*.class

# Eclipse
.metadata
.settings
.project
.classpath
.recomenders


# Intellij
.idea/
*.iml

#maven
/storm/topologies/TwitterTopStart/target/
out/
*.out
