/* Global Styles */

html{
	font-family: 'News Cycle', Helvetica, sans-serif;
}
img{
	max-width: 100%;
}

button {
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button; /* for input */
  -webkit-user-select: none; /* for button */
     -moz-user-select: none;
      -ms-user-select: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    padding: 0;
}


button {
  background-color: rgb(57, 107, 158);
}
button:hover{
  background-color: rgb(42, 92, 143);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(57, 107, 158, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(57, 107, 158, 0.4);
}



.container {
	width: 90%
}

body {
 	padding-top: 100px;
 	text-align: center;
 	font-size: 12 px;
}

ul, li {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

h3 {
	font-weight: bolder;
	font-size: 20pt;
}

h5 {
	font-size: 15pt;
	font-style: italic;
	width: 80%;
	margin: 0 auto;
	text-align:center;
}

p, ul, body {
	font-family: 'News Cycle', Helvetica, sans-serif;
	font-size: 14pt;
	text-align: left;
}

/* Navbar */
nav.navbar{
	background: #363636;
	text-transform: uppercase;
}
nav.navbar-inverse .navbar-brand{
	color:#efefef;
	margin-right: 80px;
}
nav.navbar-inverse .navbar-nav>li>a{
	color: #efefef;
}
nav.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
	background-color: rgb(57, 107, 158);
	background-image:none;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/* Lead info */

.lead{
	max-width: 800px;
	margin: 0px auto 30px;
	text-align: center;
}

/* Search bar */
.hashtag-search-form {
	font-size: 17px;
	width: 100%;
	margin-bottom: 10px;
}

.hashtag-search-input {
	width: 70%;
	margin: 0px;
	padding-left :35px;
	font-size: 25px;
  line-height: 46px;
}
.hashtag-search-form form:before{
	content: '#';
	position: absolute;
  left: 25px;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  color: #666;
}

.hashtag-search-submit {
  width: 30%;
  margin: 0px;
  padding: 12px;
  color: white;
  float:right;
}

/* Hashtag Sidebar */

.hashtag-sidebar {
	font-size: 20px;
	padding-top: 15px;
	text-align: left;
}
.related-hashtags{

}

.hashtags {
	line-height: 45px;
	max-height: 420px;
  overflow-y: scroll;
}

.hashtags a.item {
  width: 100%;
  display: block;
  cursor: pointer;
  padding-left:15px;
}

.hashtags a.item:hover{
	background-color: #afffff;
}
.hashtags a.item:before {
  content: '#';
}


/* Map Area */

.map-area {
	float: right;
}

.map-area img{
  max-width: none;
}

.top-hashtags-link {
	text-align: center;
}

.meet-the-team {
	font-size: 15pt;
	padding: 40px;
}

.top-hashtags-link a{
	font-weight:bold;
	color: #333;
}
.related-hashtags-title h3{
	background: #999;
	color: #fff;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
}

.heatmap-toggle{
	text-align:right;
}

/*JQuery UI Menu Dropdown Styles*/

.ui-menu-item:before{
	content: '#';
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	color: #fff !important;
	  border: 1px solid rgb(42, 92, 143) !important;
  background: rgb(57, 107, 158) 50% 50% !important;
  font-weight: bold;
}


/* Top Hashtags */
#top-hashtags{
  margin: 100px 0px 50px;
}

.top-hashtags-viz {
  font-size: 12px;
}

.top-hashtags-viz .bar rect {
  fill: #eee;
}
.top-hashtags-viz .bar rect:hover {
  fill: rgb(57, 107, 158);
}

.top-hashtags-viz .bar text.count {
  fill: #333;
}

.top-hashtags-viz.axis {
  shape-rendering: crispEdges;
}

.top-hashtags-viz .axis path {
  fill: none;
}

.top-hashtags-viz .x.axis line {
  stroke: #fff;
  stroke-opacity: .8;
}

.top-hashtags-viz .y.axis path {
  stroke: black;
}

/* Map stylez */

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}



/* Mobilize Things*/

@media only screen and (max-width: 991px){
	.map-area {
		float: none;
	}
	#map-canvas {
	  width: 100%;
	  height: 350px;
	}
	nav.navbar-inverse .navbar-brand{
		margin-right: 0px;
	}
}

@media only screen and (max-width: 760px){
	#map-canvas {
	  width: 100%;
	  height: 300px;
	}
}

@media only screen and (max-width: 480px){
	#map-canvas {
	  width: 100%;
	  height: 250px;
	}
}

.rollover a {
	display : block;
    width : 200px;
    height : 200px;
    background-image:url(../static/images/jacob.png);
}

.rollover a:hover {
	display : block;
	width : 200px;
	height : 200px;
	background-image:url(../static/images/mlp3.png);
}





