{% extends "base.html" %}

{% block pagetitle %}Geoperception - About the project{% endblock %}

{% block content %}
    <h1> About Page </h1>
    <font size="5"> The goal of this project is to analyze Geodata to map trends in hashtags on Twitter. By doing this we will predict trends within a certain keyword or hashtag that we are looking at. For example, we will be able to find trends for people that may be depressed by analyzing keywords common among people who tweet <b>#depressed</b>. By looking at these trends in populations we will correlate them to events that are happening in real life. For example people could tweet <b>#depressed</b> if they live in Seattle and haven't seen the sun in a month, or a town could have been struck by tragedy causing people to be <b>#depressed</b>. </font>

{% endblock %}
