{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script type="text/javascript" src="{{ STATIC_URL }}js/d3.js"></script>
<h1> Most Common Hashtags </h1>

  <head>

    <style type="text/css">



    </style>
  </head>
  <body>
  <div class="top-hashtags-viz"></div>

  <script type="text/javascript">

    var topHashtagsObject = [
      {% for hashtag in top_hashtags|dictsortreversed:"count"%}
        {
          hashtag: '{{ hashtag.hashtag | escapejs }}',
          count: '{{ hashtag.count | escapejs }}'
        },
      {% endfor %}
    ]

  </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/hashtagviz.js"></script>
  </body>
  {% endblock %}

