{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="starter-template">
    <h1>Heatmap Example</h1>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}js/heatmap.js"></script>

  <div id="panel" style="margin-left: -52px">
      <button id="drop" onclick="addRandomValues()">Add 10000 Random Values</button>
      <button id="drop" onclick="addCassandraValues()">Add Data from Cassandra</button>
  </div>
  <div id="map-canvas"></div>

  <script>
  function addCassandraValues() {
      {% for tweet in tweets %}
        pointArray.push(new google.maps.LatLng({{tweet.lat}},{{tweet.lng}}));
      {% endfor %}
  }
</script>

  {% endblock %}
