{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="starter-template">
    <h1> Hello GeoPerception Enthusiast </h1>
    <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>

  <script type="text/javascript">
    var usa = new google.maps.LatLng(38.8833, 265.9833);

    var markers = [];
    var map;
    var image = "{% static 'images/tweet-30.png' %}";

    // Initialize Map
    function initialize() {
      var mapOptions = {
        zoom: 4,
        center: usa
      };
      map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
      addCassandraTweets();
    }

    // When Drop is clicked, set up large amount of inserts
    function drop() {
      for (var i = 0; i < 1000; i++) {
        insertMarker(i);
      }
    }

    // Abstract setTimeout into its own function
    function insertMarker(i){
      window.setTimeout(function() {
          addMarker();
        }, 100000 * Math.random());
    }

    // Adds marker to the marker list
    function addMarker() {
      markers.push(new google.maps.Marker({
        position: new google.maps.LatLng((Math.random() - 0.5) * 180, (Math.random() - 0.5) * 360),
        map: map,
        icon: image,
        title: 'tweet'
      }));
    }

    function addCassandraTweets() {
      var tweetMarkers = []
      var tweetContent = []

      {% for tweet in tweets %}
      try {

        // var username = "{{tweet.username|escapejs}}";
        // var content = "{{tweet.content|escapejs}}";
        // var contentString = '<div><h4>TWEET from '+ username +'!</h4></div>' +
        //                     '<div class="tweet-content">'+
        //                     content +
        //                     '</div>';

        var marker = new google.maps.Marker({
          position: new google.maps.LatLng({{tweet.lat}}, {{tweet.lng}}),
          map: map,
          icon: image,
          title: 'tweet'
        });
        google.maps.event.addListener(marker, 'click', function() {
          new google.maps.InfoWindow({
            content: '<div><h4>TWEET from {{tweet.username|escapejs}}!</h4></div>' +
                      '<div class="tweet-content">'+
                      '{{tweet.content|escapejs}}' +
                      '</div>'
          }).open(map,this);
        });
        markers.push(marker);
      }
      catch(err) {
        console.log(err.message);
      }
      {% endfor %}
    }

    // When clear is clicked, remove all markers
    function clearMarkers() {
      for (var i = 0; i < markers.length; i++) {
        markers[i].setMap(null);
      }
      markers = [];
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>

  <div id="panel" style="margin-left: -52px">
    <button id="drop" onclick="drop()">Drop Markers</button>
    <button id="drop" onclick="clearMarkers()">Clear Markers</button>
    <button id="cassandra" onclick="addCassandraTweets()">Add Cassandra Data()</button>
  </div>
  <div id="map-canvas"></div>
  <ul>

{% endblock %}
