
{% extends "base.html" %}

{% block pagetitle %}Geoperception - Meet the Team{% endblock %}

{% block content %}
<h1> Team Page </h1>
<!--<h2> Meet Brandon, Michael, Cassie, John-Luke, and Jacob </h2>
<img src="http://images5.fanpop.com/image/photos/25000000/Hug-Hug-my-little-pony-friendship-is-magic-25048378-402-288.jpg">
</div>-->


<div class="col-md-6" "meet-the-team">
	<h3><img src="../static/images/mlp3.png" class="img-team"> Michael Asnes <small>"Big Mike"</small></h3>
	<p>Michael Asnes lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque condimentum faucibus neque, sed euismod dui tempor eget. Vivamus in ex vitae libero bibendum placerat quis vitae risus. Vestibulum hendrerit metus vitae nisl rutrum ultrices. Aenean vitae nisi rhoncus, fermentum odio et, feugiat magna.</p>
	
<br></br>

	<h3><img src="../static/images/mlp1.png" class="img-team"> Cassiane Cladis <small>"Late for the Bus"</small></h3>
	<p>Cassiane Cladis is a first year Masters student studying Information and Communication, Technology for Development. She holds a Bachelors of Science in International Affairs from the University of Colorado at Boulder. She spends most of her time and income traveling.</p>


<br></br>

	<h3><img src="../static/images/mlp2.png" class="img-team"> Brandon Mikulka <small>"Brando"</small></h3>
	<p>Brandon Mikulka proin vitae elit auctor, eleifend elit a, hendrerit metus. Phasellus non turpis sit amet lorem rutrum rhoncus non vel diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Quisque lorem nulla, consequat et euismod in, maximus fermentum odio.</p>
</div>


<div class="col-md-6" "meet-the-team">
	<h3><img src="../static/images/mlp4.png" class="img-team"> John-Luke Bukavalas <small>"JL"</small></h3>
	<p>John-Luke Bukavalas praesent ac nisl maximus, tempus massa in, porttitor est. Phasellus id accumsan lacus, non dignissim urna. Sed purus odio, bibendum nec commodo ut, blandit at lectus. Sed ante sem, scelerisque facilisis aliquam et, finibus et augue. Etiam et ultricies diam, non fermentum felis.</p>  

<br></br>

	<h3><img src="../static/images/mlp5.png" class="img-team"> Jacob Moralas <small>"Basketball"</small></h3>
	<p>Ut dictum sem vel ipsum egestas, non bibendum dui fringilla. Cras ornare, est sed posuere pulvinar, enim nisl mollis nulla, non scelerisque sem arcu in mauris. Sed non mi quis ante placerat pretium nec in ligula. Proin sit amet enim sit amet nibh tristique rutrum.</p>
</div>
</div>

{% endblock %}
